.editor-info
    .editor-info-container.area-round
        h3 App Info

        .form-group.row(*ngIf="editor.path")
            .col-3
                label.form-label.col-form-label App ID
            .col
                input.form-control.form-control-sm(type="text" placeholder="auth.login", [(ngModel)]="data.id")

        .form-group.row
            .col-3
                label.form-label.col-form-label Title
            .col
                input.form-control.form-control-sm(type="text" placeholder="App Title", [(ngModel)]="data.title")
        
        .form-group.row
            .col-3
                label.form-label.col-form-label Category
            .col
                .form-selectgroup
                    label.form-selectgroup-item
                        input.form-selectgroup-input(type="radio", name="ide-app-{{editor.id}}", value="core", [(ngModel)]="data.category")
                        span.form-selectgroup-label
                            span Core

                    label.form-selectgroup-item
                        input.form-selectgroup-input(type="radio", name="ide-app-{{editor.id}}", value="config", [(ngModel)]="data.category")
                        span.form-selectgroup-label
                            span Config
                    
                    label.form-selectgroup-item
                        input.form-selectgroup-input(type="radio", name="ide-app-{{editor.id}}", value="left", [(ngModel)]="data.category")
                        span.form-selectgroup-label
                            span Left Menu
                    
                    label.form-selectgroup-item
                        input.form-selectgroup-input(type="radio", name="ide-app-{{editor.id}}", value="right", [(ngModel)]="data.category")
                        span.form-selectgroup-label
                            span Right Menu
                    
                    label.form-selectgroup-item
                        input.form-selectgroup-input(type="radio", name="ide-app-{{editor.id}}", value="editor", [(ngModel)]="data.category")
                        span.form-selectgroup-label
                            span Editor

        hr

        .form-group.row(*ngIf="editor.path")
            .col
                button.btn.btn-outline-blue.btn-block((click)="editor.update()") Update

        .form-group.row(*ngIf="editor.path")
            .col
                button.btn.btn-outline-red.btn-block((click)="editor.delete()") Delete

        .form-group.row(*ngIf="!editor.path")
            .col
                button.btn.btn-outline-blue.btn-block((click)="editor.update()") Create

    ngx-loading([show]="loading")