wiz-core-project(*ngIf="menu.mode == 'project'")
wiz-core-git-commit(*ngIf="menu.mode == 'commit'")
wiz-core-commit-history(*ngIf="menu.mode == 'commits'")

wiz-season-preview(*ngIf="menu.mode == 'preview'", (binding)="service.event.bind($event.id, $event.data)")
wiz-season-pip(*ngIf="menu.mode == 'pip'")
wiz-ng-npm(*ngIf="menu.mode == 'npm'")
wiz-core-files(*ngIf="menu.mode == 'config'", [title]="'Config'", [path]="'config'")

wiz-core-app-list(*ngIf="menu.mode == 'system.ide.apps'")
wiz-core-system-status(*ngIf="menu.mode == 'system.status'")
wiz-core-system-setting(*ngIf="menu.mode == 'system.setting'")

wiz-season-html2pug(*ngIf="menu.mode == 'html2pug'")
wiz-core-xterm(*ngIf="menu.mode == 'xterm'")