wiz-season-preview(*ngIf="menu.mode == 'preview'", [scope]="scope", (binding)="binding.bind($event)", [menu]="menu")
wiz-season-pip(*ngIf="menu.mode == 'pip'", [scope]="scope", [menu]="menu")
wiz-ng-npm(*ngIf="menu.mode == 'npm'", [scope]="scope", [menu]="menu")
wiz-core-system-status(*ngIf="menu.mode == 'system.status'", [scope]="scope", [menu]="menu")
wiz-core-system-setting(*ngIf="menu.mode == 'system.setting'", [scope]="scope", [menu]="menu")
wiz-core-files(*ngIf="menu.mode == 'branch'", [scope]="scope", [menu]="menu")