wiz-core-project(*ngIf="menu.mode == 'project'", [scope]="scope", [menu]="menu")
wiz-core-git-commit(*ngIf="menu.mode == 'commit'", [scope]="scope", [menu]="menu")
wiz-core-commit-history(*ngIf="menu.mode == 'commits'", [scope]="scope", [menu]="menu")

wiz-season-preview(*ngIf="menu.mode == 'preview'", [scope]="scope", (binding)="binding.bind($event)", [menu]="menu")
wiz-season-pip(*ngIf="menu.mode == 'pip'", [scope]="scope", [menu]="menu")
wiz-ng-npm(*ngIf="menu.mode == 'npm'", [scope]="scope", [menu]="menu")
wiz-core-files(*ngIf="menu.mode == 'config'", [scope]="scope", [menu]="menu", [title]="'Config'", [path]="'config'")

wiz-core-app-list(*ngIf="menu.mode == 'system.ide.apps'", [scope]="scope", [menu]="menu")
wiz-core-system-status(*ngIf="menu.mode == 'system.status'", [scope]="scope", [menu]="menu")
wiz-core-system-setting(*ngIf="menu.mode == 'system.setting'", [scope]="scope", [menu]="menu")

wiz-season-html2pug(*ngIf="menu.mode == 'html2pug'", [scope]="scope", [menu]="menu")
wiz-core-xterm(*ngIf="menu.mode == 'xterm'", [scope]="scope", [menu]="menu")