wiz-core-rightmenu-preview(*ngIf="menu.mode == 'preview'", [event]="event", (binding)="binding.bind($event)")
wiz-core-rightmenu-pip(*ngIf="menu.mode == 'pip'", [event]="event")
wiz-core-rightmenu-npm(*ngIf="menu.mode == 'npm'", [event]="event")