wiz-season-preview(*ngIf="menu.mode == 'preview'", [scope]="scope", (binding)="binding.bind($event)")
wiz-season-pip(*ngIf="menu.mode == 'pip'", [scope]="scope")
wiz-ng-npm(*ngIf="menu.mode == 'npm'", [scope]="scope")
wiz-core-system-status(*ngIf="menu.mode == 'system.status'", [scope]="scope")
wiz-core-system-setting(*ngIf="menu.mode == 'system.setting'", [scope]="scope")