.editor-info
    .editor-info-container.area-round
        h3 Route Info

        .form-group.row
            .col-3
                label.form-label.col-form-label Title
            .col
                input.form-control.form-control-sm(type="text" placeholder="Route Title", [(ngModel)]="data.title")
        
        .form-group.row
            .col-3
                label.form-label.col-form-label ID
            .col
                input.form-control.form-control-sm(type="text" placeholder="auth.login", [(ngModel)]="data.id")

        .form-group.row
            .col-3
                label.form-label.col-form-label Route
            .col
                input.form-control.form-control-sm(type="text" placeholder="/app/<path:path>", [(ngModel)]="data.route")

        .form-group.row
            .col-3
                label.form-label.col-form-label Category
            .col
                input.form-control.form-control-sm(type="text" placeholder="auth", [(ngModel)]="data.category")
        
        .form-group.row
            .col-3
                label.form-label.col-form-label Preview URL
            .col
                input.form-control.form-control-sm(type="text" placeholder="/main", [(ngModel)]="data.viewuri")

        hr

        .form-group.row(*ngIf="editor.path")
            .col
                button.btn.btn-outline-blue.btn-block((click)="editor.update()") Update

        .form-group.row(*ngIf="editor.path")
            .col
                button.btn.btn-outline-red.btn-block((click)="editor.delete()") Delete

        .form-group.row(*ngIf="!editor.path")
            .col
                button.btn.btn-outline-blue.btn-block((click)="editor.update()") Create

    ngx-loading([show]="loading")