.side-container
    .side-heading.area-round
        input.form-check-input.mr-2(type="checkbox")
        h3.nowrap.m-0(style="max-width: 220px; overflow: hidden; text-overflow: ellipsis;")
            span {{title}}
        .ml-auto
        .btn.btn-white.btn-sm.mr-1
            i.fa-solid.fa-refresh.text-blue
        .btn.btn-white.btn-sm.mr-1
            i.fa-solid.fa-plus.text-blue
        .btn.btn-white.btn-sm
            i.fa-solid.fa-upload.text-blue
        
    .side-body.area-round
        //- table.table.table-sm.table-hover.table-vcenter.mb-5
        //-     tr
        //-         td.w-1.pr-0
        //-         td.w-1.pr-0
        //-             .avatar-area.avatar-area-sm
        //-                 .avatar-container.folder
        //-                     i.fa-solid.fa-folder
        //-         td(colspan=2)
        //-             .d-flex
        //-                 input.form-control(ng-model="drive.create_name" ng-enter="drive.api.create()" placeholder="folder name")
        //-                 .btn.btn-primary.btn-circle.ml-2(style="width: 36px;" ng-click="drive.api.create()")
        //-                     i.fa-solid.fa-check

        //-     tr
        //-         td.w-1.pr-0
        //-             input.form-check-input(type="checkbox" ng-model="file.checked" ng-click="drive.check(file)")
        //-         td.w-1.pr-0(ng-click="drive.check(file)")
        //-             .avatar-area.avatar-area-sm
        //-                 .avatar-container(class="{{file.type == 'folder' ? 'folder' : ''}}")
        //-                     i.fa-solid.fa-file(ng-if="file.type == 'file'")
        //-                     i.fa-solid.fa-folder(ng-if="file.type == 'folder'")
        //-         td.text-left.filename(ng-if="!file.edit" ng-click="drive.check(file)")
        //-             div
        //-                 a(ng-click="drive.click(file)" ng-if="file.type == 'folder'") {{file.name}}
        //-                 a(ng-href="{{drive.api.download(file)}}" target="_blank" ng-if="file.type == 'file'") {{file.name}}
        //-             div
        //-                 small.text-muted {{drive.timer(file.ctime)}}
        //-                 small.text-muted.mr-1.ml-1 /
        //-                 small.text-muted {{drive.filesize(file.size)}}

        //-         td.text-left(ng-if="file.edit" colspan=2)
        //-             .d-flex
        //-                 input.form-control(ng-model="file.rename" ng-enter="drive.api.rename(file)")
        //-                 .btn.btn-primary.btn-circle.ml-2(style="width: 36px;" ng-click="drive.api.rename(file)")
        //-                     i.fa-solid.fa-check

        //-         td.w-1.text-right.pr-2.actions(ng-if="!file.edit")
        //-             .dropdown
        //-                 button.btn.btn-white.btn-sm(data-bs-toggle="dropdown" aria-expanded="false")
        //-                     i.fa-solid.fa-ellipsis-vertical
        //-                 ul.dropdown-menu
        //-                     li
        //-                         a.dropdown-item(ng-click="drive.rename(file)")
        //-                             i.fa-solid.fa-pen-to-square
        //-                             span Rename
        //-                     li
        //-                         a.dropdown-item(ng-href="{{drive.api.download(file)}}" target="_blank")
        //-                             i.fa-solid.fa-download
        //-                             span Download
        //-                     li
        //-                         a.dropdown-item(ng-click="drive.api.remove(file)")
        //-                             i.fa-solid.fa-trash
        //-                             span Delete

    ngx-loading([show]="loading")