.browser-container
    .browser-search
        input.form-control.form-control-sm.search-form(type="text" placeholder="Search...")
        button.btn.btn-sm.btn-primary.ml-1.pl-3.pr-3
            i.fa-solid.fa-plus

    .browser-list        
        .browser-list-wrapper(*ngFor="let category of app.categories")
            .browser-category(*ngIf="app.categories.length > 1")
                span {{category}}
                small.ml-1.text-muted ({{app.data[category].length}})
            
            .browser-info(*ngFor="let item of app.data[category]", (click)="app.open(item)", [ngClass]="editor.activated && item.path == editor.activated.path ? 'active' : ''")
                .avatar-area.avatar-area-sm.mr-3
                    .avatar-container
                        i.fa-solid.fa-cube
                .title-area
                    .item-header.mb-1 {{item.title}}
                    .item-namespace.text-muted {{item.subtitle}}
                .ml-auto.active-marker
                    i.fa-solid.fa-circle.text-blue(style="font-size: 8px;")
