wiz-core-leftmenu-apps(*ngIf="menu.mode == 'page'", [event]="event", [appmode]="'page'")
wiz-core-leftmenu-apps(*ngIf="menu.mode == 'layout'", [event]="event", [appmode]="'layout'")
wiz-core-leftmenu-apps(*ngIf="menu.mode == 'component'", [event]="event", [appmode]="'component'")
wiz-core-leftmenu-angular(*ngIf="menu.mode == 'angular'", [event]="event")
wiz-core-leftmenu-route(*ngIf="menu.mode == 'route'", [event]="event")