wiz-ng-angular(*ngIf="menu.mode == 'angular'", [scope]="scope")
wiz-ng-app-list(*ngIf="menu.mode == 'page'", [scope]="scope", [mode]="'page'")
wiz-ng-app-list(*ngIf="menu.mode == 'layout'", [scope]="scope", [mode]="'layout'")
wiz-ng-app-list(*ngIf="menu.mode == 'component'", [scope]="scope", [mode]="'component'")
wiz-core-files(*ngIf="menu.mode == 'service'", [scope]="scope", [menu]="menu", [title]="'Service'", [path]="'src/angular/service'")
wiz-core-files(*ngIf="menu.mode == 'styles'", [scope]="scope", [menu]="menu", [title]="'Styles'", [path]="'src/angular/styles'")
wiz-core-files(*ngIf="menu.mode == 'assets'", [scope]="scope", [menu]="menu", [title]="'Assets'", [path]="'src/assets'")
wiz-core-files(*ngIf="menu.mode == 'libs'", [scope]="scope", [menu]="menu", [title]="'Custom Package'", [path]="'src/angular/libs'")

wiz-season-route-list(*ngIf="menu.mode == 'route'", [scope]="scope")
wiz-core-files(*ngIf="menu.mode == 'model'", [scope]="scope", [menu]="menu", [title]="'Model'", [path]="'src/model'")
wiz-core-files(*ngIf="menu.mode == 'controller'", [scope]="scope", [menu]="menu", [title]="'Controller'", [path]="'src/controller'")